.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: max-content;
  position: absolute;
  top: 5%;
  left: 25%;
}

.main-ball, .mini-ball{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-text,.mini-text{
  font-size: 4rem;
}
.main-text{
  color: rgb(182, 62, 62);
}
.mini-text{
  color: rgb(170, 56, 174);
}

